<h1>All flats</h1>
<ul>
  <% @flats.each do |flat| %>
    <li><%= link_to flat.name, flat_path(flat) %></li>
  <% end %>
</ul>

  <%= link_to "new flat",  new_flat_path, class: "btn btn-primary"   %>
