.footer {
  background: #B2B2B2;
  display: flex;
  // margin-top: 50px;
  align-items: center;
  justify-content: space-between;
  left: 0px;
  bottom: 0px;
  height: 50px;
  padding: 20px;
  width: 100%;
  color: black;
  position: sticky;
  bottom: 0;
  .fa-heart {
    color: $color_3;
  }
}

.footer-links {
  display: flex;
  align-items: center;

  a {
    color: $color_2;
    // opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;

    &:hover {
      color: $color_3;
    }
  }
}
.page-container {
  min-height: 100vh;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
.row {
  --bs-gutter-x: 0;
}
