.navbar-lewagon {
  justify-content: space-between;
  background: #B2B2B2;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.nav-search-bar > div{
  margin-bottom: 0 !important;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}

$color_1: rgba(0, 0, 0, 0.3);
$color_2: black;
$color_3: #D23333;

.navbar-brand {
  font-weight: normal;
  font-family: 'Libre Franklin', sans-serif;
}

.nav-link {
  color: black;

  &:hover {
    color: $color_3;
  }

}
